*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
body{
    background-color: #8e8989e7;
}
.title {
    text-align: center;
    padding: 10px
}
.words{
    text-align: center;
}
.word{
    text-decoration: underline;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.word:hover{
    text-decoration: none;
    color: white;
}
.game-display{
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    width: 60%;
    height: 80vh;
    margin: 10px auto;
}
.letter {
    border: 1px solid red;
    width: 10%;
    height: 10vh;
    color: white;
    text-align: center;
    line-height: 10vh;
    font-size: 40px;
    font-weight: bold;
    
}